<% include ../partials/header.ejs%>

<div class="container">
    <div class="col">
        <h1>Midterm Exam</h1>
        <div class="jumbotron">
            <h1 class="display-3"><b>Cars Database</b></h1>
            <p class="lead">by 6030213041 Witthawat Tanoi</p>
            <hr class="my-2">
            <p>more info</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="" role="button">NOT GO!</a>
            </p>
        </div>
    </div>
</div>
<% include ../partials/footer.ejs%>